
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

	<p>The Index Page</p>

	 {% if not session.logged_in %}

	<h3><a href="/login">Login</a></h3>

	<p>You will need to be a registered user to login</p>

	<h3><a href="/signup">Register Here</a></h3>

	{% else %}

	<h3><a href="/logout">Logout</a></h3>

	{% endif %}

	{% if books %}

	{% for book in books %}
		<li><h3>{{ book.title }}</h3>
	{% endfor %}

	{% else %}
		<p>No books</p>

	{% endif %}

	


{% endblock %}